@charset "UTF-8";
/*Regula*/
@font-face {
  font-family: "fraunces-regular";
  src: url("../fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}
@font-face {
  font-family: "manrope-regular";
  src: url("../fonts/manrope/static/Manrope-Regular.ttf");
}
/*Bold*/
@font-face {
  font-family: "fraunces-bold";
  src: url("../fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "manrope-bold";
  src: url("../fonts/manrope/Manrope-VariableFont_wght.ttf");
  font-weight: 700;
}
/* =========================
   Reset
   ========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid #ddd;
  outline-offset: 2px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button:focus-visible {
  outline: 2px solid var(--Grey-500);
  outline-offset: 2px;
}

body {
  background-color: #fff;
}

.container {
  width: min(1110px, 100% - 48px);
  margin-inline: auto;
}

header,
main,
footer {
  width: min(375px, 100%);
  margin: 0 auto;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  header,
  main,
  footer {
    width: min(768px, 100%);
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
header,
main,
footer {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  header,
  main,
  footer {
    width: min(1440px, 100%);
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}

header {
  background-color: #24053e;
  position: relative;
  padding-bottom: 30px;
  height: 451px;
  background-clip: content-box;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  header {
    height: 510px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
header {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  header {
    background-image: url("../images/bg-pattern-1.svg"), url("../images/bg-pattern-2.svg");
    /* 2번 이미지 */
    /* 위치 지정 */
    background-position: left -22vw top 28%, right -9vw top 81%;
    /* 반복 및 크기 지정 */
    background-repeat: no-repeat, no-repeat;
    background-size: 270px, 141px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
header {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  header {
    background-image: url("../images/bg-pattern-1.svg"), url("../images/bg-pattern-2.svg");
    background-position: left clamp(-140px, -10vw, -80px) top 28%, right clamp(-72px, -5vw, -32px) top 81%;
    background-repeat: no-repeat, no-repeat;
    background-size: 270px, 141px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
header nav {
  width: 100%;
  height: 67px;
  padding: 32px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}
header nav .logo {
  width: 95.76px;
  height: auto;
  display: block;
}
header nav .nav-btn {
  margin-left: auto;
  color: #fff;
  font-family: "manrope-bold";
  font-size: 18px;
  position: relative;
}
header nav .nav-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 151px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #44ffa1;
}
header nav .nav-btn {
  transition: 0.3s;
}
header nav .nav-btn:hover {
  color: #44ffa1;
}
header .hero {
  color: #fff;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  header .hero {
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
header .hero .hero-content {
  margin-block-start: 56px;
}
header .hero .hero-content .title {
  font-family: "fraunces-bold";
  font-size: 48px;
  text-align: center;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  header .hero .hero-content .title {
    font-size: 60px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
header .hero .hero-content .title .underline {
  position: relative;
}
header .hero .hero-content .title .underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 3.14em;
  height: 3px;
  transform: translateX(-64%);
  background-color: #44ffa1;
}
header .hero .hero-content .title span:not(.underline) {
  display: block;
}
header .hero .hero-content {
  text-align: center;
}
header .hero .hero-content .hero-btn {
  margin-block-start: 40px;
  font-family: "manrope-bold";
  font-size: 16px;
  color: #24053e;
  padding: 12px 32px;
  background-color: #44ffa1;
  transition: 0.3s;
  position: relative;
  z-index: 15;
}
header .hero .hero-content .hero-btn:hover {
  border: 1px solid #44ffa1;
  color: #44ffa1;
  background-color: transparent;
}
header .hero .hero-left {
  width: 280px;
  height: 215px;
  background-image: none;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 20%;
  left: -23%;
}
header .hero-curve {
  clip-path: ellipse(70% 30% at 45% 51%);
  width: 100%;
  min-height: 100px;
  background: #24053e;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
header .hero-center {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  /* 반응형을 위한 변경 사항 */
  width: calc(100% - 2.5rem);
  /* 부모 공간에 맞춰 유연하게 늘어남 */
  max-width: 320px;
  /* 단, 320px 이상으로는 커지지 않음 */
  height: auto;
  /* 가로 너비에 맞춰 세로를 자동으로 줄임 */
  aspect-ratio: 320/184;
  z-index: 10;
}

main {
  margin-top: -16px;
}
main .features {
  padding-top: 156px;
  padding-bottom: 200px;
  position: relative;
  z-index: 1;
}
main .features .feature-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  main .features .feature-list {
    flex-direction: row;
    gap: 32px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .features .feature-list .feature-item {
    flex-direction: row;
    gap: 56px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  main .features .feature-list .feature-item {
    flex: 1;
    flex-direction: column;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item .number {
  width: min(48px, 100%);
  height: min(48px, 100%);
  font-family: "fraunces-bold";
  border-radius: 50%;
  border: 1px solid #584d62;
  text-align: center;
  line-height: 48px;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .features .feature-list .feature-item .number {
    flex: 0 1 auto;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item .text-group {
  text-align: center;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .features .feature-list .feature-item .text-group {
    flex: 1 1 0;
    min-width: 0;
    text-align: left;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item .text-group {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  main .features .feature-list .feature-item .text-group {
    text-align: center;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item .text-group .title {
  margin-block-start: 24px;
  font-family: "fraunces-bold";
  font-size: 24px;
  color: #24053e;
}
main .features .feature-list .feature-item .text-group .description {
  margin-block-start: 16px;
  font-family: "manrope-regular";
  font-size: 16px;
  text-align: center;
  color: #24053e;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .features .feature-list .feature-item .text-group .description {
    text-align: left;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item .text-group .description {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  main .features .feature-list .feature-item .text-group .description {
    text-align: center;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item:not(:first-child) {
  margin-block-start: 32px;
}
main .features .feature-list {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .features .feature-list .feature-item:not(:first-child) {
    margin-block-start: 0;
  }
  main .features .feature-list {
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  /* 아래쪽 패딩 크기만큼 띄움 -> 배경색 제외 효과 */
  background-color: #fcf8ff;
  /* 원하는 배경색 */
  z-index: -1;
  /* 콘텐츠 뒤로 보내기 */
}
main .features .features-curve {
  clip-path: ellipse(70% 30% at 45% 51%);
  width: 100%;
  min-height: 200px;
  background-color: #fcf8ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
main .cta-beta {
  margin-block-start: 122px;
  position: relative;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .cta-beta {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .avatar {
  display: block;
  width: 100%;
  max-width: 280px;
  height: auto;
  aspect-ratio: 280/280;
  margin: 0 auto;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .cta-beta .avatar {
    grid-column: 1/9;
    grid-row: 1;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .avatar {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  main .cta-beta .avatar {
    grid-column: 1/9;
    grid-row: 1;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .content {
  margin-top: -47px;
  width: 100%;
  padding: 32px;
  background-color: #24053e;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 5;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .cta-beta .content {
    grid-column: 6/-1;
    grid-row: 1;
    margin-top: 161px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .content {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  main .cta-beta .content {
    grid-column: 7/-1;
    grid-row: 1;
    margin-top: 106px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .content .title {
  font-family: fraunces-bold;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .cta-beta .content .title {
    font-size: 48px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .content .description {
  margin-top: 32px;
  font-family: manrope-regular;
  line-height: 1.8;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .cta-beta .content .description {
    font-size: 16px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .content .btn-primary {
  margin-block-start: 32px;
  padding: 12px 32px;
  background-color: #44ffa1;
  transition: 0.3s;
}
main .cta-beta .content .btn-primary:hover {
  border: 1px solid #44ffa1;
  color: #44ffa1;
  background-color: transparent;
}
main .cta-beta {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .cta-beta {
    position: relative;
  }
  main .cta-beta .hero-bottom {
    position: absolute;
    bottom: -20%;
    right: 10%;
    width: 200px;
    height: 200px;
    background-image: url(../images/bg-pattern-3.svg);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 15;
  }
  main .cta-beta {
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}

footer {
  margin-block-start: 80px;
}
footer img {
  width: 95.76px;
  height: auto;
  display: block;
  margin: 0 auto;
}
footer ul {
  width: 116px;
  margin: 0 auto;
  margin-block-start: 56px;
  display: flex;
  justify-content: center;
}
footer ul li {
  flex: 1;
}
footer ul {
  margin-block-end: 80px;
}
/*# sourceMappingURL=style.css.map */
