@charset "UTF-8";
/*Regula*/
@font-face {
  font-family: "fraunces-regular";
  src: url("../fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}
@font-face {
  font-family: "manrope-regular";
  src: url("../fonts/manrope/static/Manrope-Regular.ttf");
}
/*Bold*/
@font-face {
  font-family: "fraunces-bold";
  src: url("../fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "manrope-bold";
  src: url("../fonts/manrope/Manrope-VariableFont_wght.ttf");
  font-weight: 700;
}
/* =========================
   Reset
   ========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid #ddd;
  outline-offset: 2px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button:focus-visible {
  outline: 2px solid #44ffa1;
  outline-offset: 2px;
}

body {
  background-color: #fff;
}

.container {
  width: 100%;
  overflow: hidden;
}

header,
main,
footer {
  width: 100%;
}

header {
  background-color: #24053e;
  position: relative;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  header {
    background-image: url("../images/bg-pattern-1.svg"), url("../images/bg-pattern-2.svg");
    background-position: left -22vw top 28%, right -9vw top 40%;
    background-repeat: no-repeat, no-repeat;
    background-size: 270px, 141px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
header {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  header {
    background-image: url("../images/bg-pattern-1.svg"), url("../images/bg-pattern-2.svg");
    background-position: left clamp(-140px, -10vw, -80px) top 28%, right clamp(-72px, -5vw, -32px) top 40%;
    background-repeat: no-repeat, no-repeat;
    background-size: 270px auto, 141px auto;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
header nav {
  width: min(1110px, 100% - 40px);
  margin-inline: auto;
  min-height: 67px;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}
header nav .logo {
  width: 95.76px;
  height: auto;
  display: block;
}
header nav .nav-btn {
  margin-left: auto;
  color: #fff;
  font-family: "manrope-bold";
  font-size: 1.125rem;
  position: relative;
}
header nav .nav-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 9.4375rem;
  height: 3px;
  transform: translateX(-50%);
  background-color: #44ffa1;
}
header nav .nav-btn {
  transition: 0.3s;
}
header nav .nav-btn:hover {
  color: #44ffa1;
}
header .hero {
  color: #fff;
  display: grid;
}
header .hero .hero-content {
  margin-block-start: 3.5rem;
  padding-inline: 1.25rem;
}
header .hero .hero-content .title {
  font-family: "fraunces-bold";
  font-size: 3rem;
  text-align: center;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  header .hero .hero-content .title {
    font-size: 3.75rem;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
header .hero .hero-content .title .underline {
  position: relative;
}
header .hero .hero-content .title .underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 3.14em;
  height: 3px;
  transform: translateX(-64%);
  background-color: #44ffa1;
}
header .hero .hero-content .title span:not(.underline) {
  display: block;
}
header .hero .hero-content {
  text-align: center;
}
header .hero .hero-content .hero-btn {
  margin-block-start: 2.5rem;
  font-family: "manrope-bold";
  font-size: 1rem;
  color: #24053e;
  padding: 12px 32px;
  border: 1px solid transparent;
  background-color: #44ffa1;
  transition: 0.3s;
  position: relative;
  z-index: 15;
}
header .hero .hero-content .hero-btn:hover {
  border-color: #44ffa1;
  color: #44ffa1;
  background-color: transparent;
}
header .hero .hero-art {
  margin-block-start: 17vw;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  header .hero .hero-art {
    margin-block-start: 40px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
header .hero .hero-art {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  header .hero .hero-art {
    margin-block-start: 88px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
header .hero .hero-art {
  position: relative;
  isolation: isolate;
  background-color: #fcf8ff;
}
header .hero .hero-art::before {
  content: "";
  position: absolute;
  inset: 0 0 45%;
  border-radius: 0 0 50% 50%/0 0 32px 32px;
  background-color: #24053e;
  pointer-events: none;
  z-index: -1;
}
header .hero .hero-art .hero-center {
  width: calc(100% - 2.5rem);
  max-width: clamp(320px, 50vw, 767px);
  margin-inline: auto;
  height: auto;
  aspect-ratio: 320/184;
}

main .features {
  padding-top: clamp(64px, 7vw, 112px);
  padding-bottom: 12.5rem;
  position: relative;
  z-index: 1;
}
main .features .feature-list {
  width: min(69.375rem, 100% - 3rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  main .features .feature-list {
    flex-direction: row;
    gap: 2rem;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .features .feature-list .feature-item {
    flex-direction: row;
    gap: 3.5rem;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  main .features .feature-list .feature-item {
    flex: 1;
    flex-direction: column;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item .number {
  width: min(3rem, 100%);
  height: min(3rem, 100%);
  font-family: "fraunces-bold";
  border-radius: 50%;
  border: 1px solid #584d62;
  text-align: center;
  line-height: 3rem;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .features .feature-list .feature-item .number {
    flex: 0 1 auto;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item .text-group {
  text-align: center;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .features .feature-list .feature-item .text-group {
    flex: 1 1 0;
    min-width: 0;
    text-align: left;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item .text-group {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  main .features .feature-list .feature-item .text-group {
    text-align: center;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item .text-group .title {
  margin-block-start: 1.5rem;
  font-family: "fraunces-bold";
  font-size: 1.5rem;
  color: #24053e;
}
main .features .feature-list .feature-item .text-group .description {
  margin-block-start: 1rem;
  font-family: "manrope-regular";
  font-size: 1rem;
  text-align: center;
  color: #24053e;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .features .feature-list .feature-item .text-group .description {
    text-align: left;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item .text-group .description {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  main .features .feature-list .feature-item .text-group .description {
    text-align: center;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features .feature-list .feature-item:not(:first-child) {
  margin-block-start: 2rem;
}
main .features .feature-list {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .features .feature-list .feature-item:not(:first-child) {
    margin-block-start: 0;
  }
  main .features .feature-list {
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .features::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 6.25rem;
  background-color: #fcf8ff;
  z-index: -1;
}
main .features .features-curve {
  clip-path: ellipse(70% 30% at 45% 51%);
  width: 100%;
  min-height: 200px;
  background-color: #fcf8ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
main .cta-beta {
  width: min(69.375rem, 100% - 3rem);
  margin-inline: auto;
  margin-block-start: 7.625rem;
  position: relative;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .cta-beta {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .avatar {
  display: block;
  width: 100%;
  max-width: 280px;
  height: auto;
  aspect-ratio: 1/1;
  margin-inline: auto;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .cta-beta .avatar {
    grid-column: 1/9;
    grid-row: 1;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .avatar {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  main .cta-beta .avatar {
    grid-column: 1/9;
    grid-row: 1;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .content {
  margin-top: -47px;
  width: 100%;
  padding: 2rem;
  background-color: #24053e;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 5;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .cta-beta .content {
    text-align: left;
    grid-column: 6/-1;
    grid-row: 1;
    margin-top: 10.0625rem;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .content {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1024px) {
  main .cta-beta .content {
    grid-column: 7/-1;
    grid-row: 1;
    margin-top: 6.625rem;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .content .title {
  font-family: fraunces-bold;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .cta-beta .content .title {
    font-size: 3rem;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .content .description {
  margin-top: 2rem;
  font-family: manrope-regular;
  line-height: 1.8;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .cta-beta .content .description {
    font-size: 1rem;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main .cta-beta .content .btn-primary {
  margin-block-start: 2rem;
  padding: 0.75rem 2rem;
  border: 1px solid transparent;
  background-color: #44ffa1;
  transition: 0.3s;
}
main .cta-beta .content .btn-primary:hover {
  border-color: #44ffa1;
  color: #44ffa1;
  background-color: transparent;
}
main .cta-beta {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main .cta-beta {
    position: relative;
  }
  main .cta-beta .hero-bottom {
    position: absolute;
    bottom: -20%;
    right: 10%;
    width: 200px;
    height: 200px;
    background-image: url(../images/bg-pattern-3.svg);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 15;
  }
  main .cta-beta {
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}

footer {
  width: min(69.375rem, 100% - 3rem);
  margin-inline: auto;
  margin-block-start: 5rem;
}
footer img {
  width: 95.76px;
  height: auto;
  display: block;
  margin: 0 auto;
}
footer ul {
  width: 116px;
  margin: 0 auto;
  margin-block-start: 3.5rem;
  display: flex;
  justify-content: center;
  gap: 1.75rem;
}
footer ul li {
  flex: 1;
}
footer ul {
  margin-block-end: 5rem;
}

/*# sourceMappingURL=style.css.map */
