@charset "UTF-8";

/*Regula*/
@font-face {
  font-family: 'fraunces-regular';
  src: url('../fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}

@font-face {
  font-family: 'manrope-regular';
  src: url('../fonts/manrope/static/Manrope-Regular.ttf');
}

/*Bold*/
@font-face {
  font-family: 'fraunces-bold';
  src: url('../fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'manrope-bold';
  src: url('../fonts/manrope/Manrope-VariableFont_wght.ttf');
  font-weight: 700;
}
